services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3080:3080"
    environment:
      - NODE_ENV=production
     # - environment:
      - NEXT_PUBLIC_API_URL=https://murifactory.alokdharabooks.com/api/v1

    restart: unless-stopped
